body {
    font-family: 'Roboto Mono', monospace;
    background-image: url('https://img.pokemondb.net/images/featured/pokedex-frlg.png');
    background-color: #ffffff;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    text-align: center;
}

section{
    background-color: crimson;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 550px;
    max-height: 700px;
    border-radius: 30px;
    padding: 5px;
    text-shadow: 3px 3px 3px blue;
    color: yellow;
}

section h1{
    font-size: 40px;
}

section h2{
    font-size: 20px;
}

div{
    background-color: deepskyblue;
    border-radius: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}
section p{
    font-size: 20px;
}

img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 250px;
    height: 250px;
}
button{
    background-color: salmon;
    font-size: 20px;
    border-radius: 50px;
    margin-top: 10px;
}

input{
    background-color: salmon;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 50px;
}
